.container__box {
  border-radius: 5px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.container__header {
  display: flex;
  justify-content: space-between;
}

.continaer__body {
  display: flex;
}

.atributes__char {
  width: 40%; 
}
