.ficha__db {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.card__button {
  display: flex;
  justify-content: space-between;
}

.name__char {
  margin: 10px !important;
  width: 200px;

}